/*内容区*/
/*导航*/
.nav span:nth-child(3){
	color: #ff9a44;
	border-bottom: 2px solid #ff9a44;
}
/*top*/
.ring-top{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.ring-text{
	color:#333;
	font-size: 12px;
	margin-left:12px;
}
.cresting{
	display: block;s
	width: 12px;
	height: 16px;
	margin-left: 5px;
	margin-top: 12px;
	background: url("../img/jht.png") no-repeat -55px -62px;
}
.myls{
	width: 100%;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}
.myls .lstop{
	padding-left: 12px;
}
.myls .lsicon{
	display: block;
	width: 14px;
	height: 14px;
	margin-top: 2px;
	margin-left: 12px;
	background: url("../img/jht.png") no-repeat -110px -36px;
}
.content-ring{
	width: 100%;
	border: 1px solid red;
}
.lll{
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	padding-left:12px;
	padding-right: 12px;
	border: 1px solid blue;

}